<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/bootstrap') %>
    <title>6 Notes & Go</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <%- include('./partials/tips') %>
    <%- include('./partials/action') %>
    <div class="row-6 d-flex flex-column align-items-center p-0 m-3">

      <div class="w-100 wrapper">
        <img src="/img/hero-sm.png" class="img-fluid d-sm-inline d-none rounded-3" style="width: 100vw;">
        <img src="/img/hero-xsm.png" class="img-fluid d-sm-none rounded-3" style="width: 100vw;">
      </div> 
      
      <img src="/img/logo.png" width="150px" height="150px" class="">
      <p class="fs-2 text-2">Do you want to learn words by heart ?</p>
      <p class="fs-4">
        This application is perfect for you !
      </p>
    </div>
    <%- include('./partials/footer') %>
    <script src="/script.js"></script>
  </body>
</html>
