<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/bootstrap') %>
    <title>My Exercises</title>
</head>
  <body >
  <%- include('./partials/nav') %>
    <div class="mt-2 text-center d-flex justify-content-center">
      <!-- New Note -->
      <% if (user && themes && selectedTheme) { %>
        <div class="containter text-center d-flex flex-column">
          <% if (selectedTheme) { %>
              <h1 class="text-info fw-bold" style="margin-top:11px">
                <i class="bi bi-book-fill  "></i>
                <%= selectedTheme %>
            </h1>
            <% }%>
          <button class="nav-link mb-2" data-bs-toggle="modal" data-bs-target="#noteModal">
            <i class="bi bi-plus-lg btn btn-primary  "> Add New Note</i>
          </button>
        </div>
    </div>
    <!-- List Note -->
            <div class=" text-center d-flex justify-content-center">
              <div>
                <% notes.reverse().forEach((note, index)=> { %>
                  <div class="container mt-2 ">
                    <div class="row justify-content-center ">
                      <div class="card p-0 col-6 d-flex flex-row ">
                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                          <div class="bg-success">
                            <p class="card-text  ">
                              <%= note.front %>
                            </p>
                            <% if (note.example) { %>
                              <p class="card-text text-primary ">
                                <%= note.categoryName %>
                              </p>
                              <% } %>
                          </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-center ">
                          <div class="bg-secondary rounded-end">
                            <p class="card-text bg-warning">
                              <%= note.back %>
                            </p>
                            <% if (note.example) { %>
                              <p class="card-text text-white bg-danger">
                                <%= note.example %>
                              </p>
                              <% } %>
                          </div>
                        </div>
                        <div class="ms-2 d-flex align-items-center gap-2">
                          <button type="submit" id="showEdit<%= index %>" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#editModal<%= index %>">
                            <i class="bi bi-pencil-fill"></i>
                          </button>
                          <form id="deleteNote<%= note._id %>" action="/note/delete/<%= note._id %>?_method=DELETE" method="POST">
                            <button type="button" class="btn btn-danger" onclick="confirmDeleteNote('<%= note._id %>')">
                              <i class="bi bi-trash-fill"></i>
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
              </div>
            </div>


      <!-- Modal New Note-->
      <div class="modal fade" id="noteModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New Note</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/addnote" method="POST">
                <div class="mb-3">
                  <label for="front" class="form-label">Front</label>
                  <input type="text" class="form-control" name="front" placeholder="write a word to learn...">
                </div>
                <div class="mb-3">
                  <label for="back" class="form-label">Back</label>
                  <input type="text" class="form-control" name="back" placeholder="write its answer...">
                </div>
                <div class="mb-3">
                  <label for="example" class="form-label">example</label>
                  <input type="text" class="form-control" name="example" placeholder="write an example...">
                </div>
                <% if (categories) { %>
                  <select name="selectedCategory" class="form-select text-capitalize bg-secondary text-white mt-2"
                    onchange="hideContainer(this)">
                    <option value="uncategorized" hidden>uncategorized</option>
                    <option value="newCat">new category</option>
                    <% categories.forEach(category=> { %>
                      <option value="<%= category.categoryName %>">
                        <%= category.categoryName %>
                      </option>
                      <% }) %>
                  </select>
                  <% } %>
                    <div id="categoryContainer" style="display: none;">
                      <label for="newCategory" class="form-label ms-1 mt-1 fw-bold text-success">
                        Create a new category
                      </label>
                      <input type="text" class="form-control" name="newCategory" placeholder="write the category name...">
                    </div>
                    <input type="hidden" name="themeName" value="<%= selectedTheme %>">
                    <input type="hidden" name="userId" value="<%= user._id %>">
                    <button type="submit" class="btn btn-primary mt-2">Add Note</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Edit Note-->
      <% notes.forEach((note, index)=> { %>
        <div class="modal fade" id="editModal<%= index %>" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/editnote/<%= note._id %>?_method=PUT" method="POST">
                  <div class="mb-3">
                    <label for="front" class="form-label">Front</label>
                    <input type="text" class="form-control" name="front" value="<%= note.front %>">
                  </div>
                  <div class="mb-3">
                    <label for="back" class="form-label">Back</label>
                    <input type="text" class="form-control" name="back" value="<%= note.back %>">
                  </div>
                  <div class="mb-3">
                    <label for="example" class="form-label">Example</label>
                    <input type="text" class="form-control" name="example" value="<%= note.example %>">
                  </div>
                  <select name="selectedCategory" class="form-select text-capitalize bg-secondary text-white mt-2"
                    onchange="hideContainer2(this)">
                    <option hidden value="<%= note.categoryName %>">
                      <%= note.categoryName %>
                    </option>
                    <option value="newCat">New Category</option>
                    <% categories.forEach(category=> { %>
                      <option value="<%= category.categoryName %>">
                        <%= category.categoryName %>
                      </option>
                      <% }) %>
                  </select>
                  <div id="categoryContainer2" style="display: none;">
                    <label for="newCategory" class="form-label ms-1 mt-1 fw-bold text-success">
                      Create a new category
                    </label>
                    <input type="text" class="form-control" name="newCategory"
                      placeholder="Write the category name...">
                  </div>
                  <input type="hidden" name="themeName" value="<%= selectedTheme %>">
                  <input type="hidden" name="userId" value="<%= user._id %>">
                  <button type="submit" class="btn btn-primary mt-2">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      <% } %>
    <script src="script.js"></script>
  </body>
</html>