<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/bootstrap') %>
      <title>Score</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container text-center">
      <% if (!user) { %>
        <h1>Please log in to your account !</h1>
        <a class="" href="/login">
          <i class="bi bi-box-arrow-in-right btn btn-success "> Login </i>
        </a>
      <% } else { %>
        <% if (latestQuiz) { %>
          <h1 class="text-2">Last Quiz</h1>
          <p class="fs-5">
            score :
            <span class="text-2">
              <%= latestQuiz.score %> /  5 
            </span><br>
            Theme :
            <span class="text-2">
              <%= latestQuiz.themeName %> 
            </span><br>
            Category :
            <span class="text-2">
              <%= latestQuiz.categoryName %> 
            </span>
          </p>
        <% } else { %>
          <p>not found data</p>
        <% } %>
      <% } %>
    </div>
    <script src="/script.js"></script>
  </body>
</html>